*{
    margin: 0%;
    padding: 0%;
}

.navbar ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    font-size: 36px;
    margin-left: 183px;
    color: white;
    margin-top: -64px;
    font-weight: 500;
}

body {
    background: linear-gradient(248deg, rgba(2, 17, 31, 0.20) 69.97%, rgba(106, 139, 170, 0.00) 101.06%);
}

.logo {
    height: 79px;
    width: 78px;
    margin-top: 34px;
    margin-left: 31px
}

@media (width <=800px) {
   
    .navbar ul {
        margin-left: 80px;
        margin-right: 10px;
        font-size: 14px;
        margin-top: -43px;
        gap: 30px;
        font-weight: 500;
    }

    .logo {
        height: 40px;
        width: 41px;
        margin-left: 11px;
        margin-top: 34px;
        overflow: hidden !important;
    }

    .text-container {
        margin-top: 300px !important;
        margin-left: 20px !important;
        font-size: 19px !important;
    }

    .text-container h1 {
        margin-left: 20px !important;
        font-size: 39px !important;
    }

    .text-container p {
        margin-left: 20px !important;
        font-size: 12px !important;
        overflow-y: scr;
    }

    .che3 {
        position: absolute !important;
        top: 93px !important;
        height: 30% !important;
        right: 76px !important;
    }
    .wall {
        width: fit-content;
        height: fit-content;
        margin-right: 5%;

    }
    .wall {
        flex-direction: column !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        margin-bottom: 50px !important;

    }
    .wall p {
        font-size: 12px !important;
    }
    .wall img {
        width: 290px !important;
        height: 156px;
        margin-left: 9%!important;
        align-items: center;
        justify-content: center;
    }
}

.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-right: 44px;
    margin-left: 590px;
    color: white;
    gap: 45px;

}

.text-container p {
    font-size: 31px;
    font-style: normal;
    font-weight: 700;

}
.che3 {
    position: absolute;
    top: 380px;
}
.text-container h1 {
    color: #FFF;
    font-size: 94px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    /* margin-bottom: 65px; */
}

section .land-main img {
    position: absolute;
    top: 290px;
    transform: rotate(-1.604deg);
}

.wall {
    width: fit-content;
    height: fit-content;
    border-radius: 107px;
    background: rgba(102, 104, 137, 0.31);
    margin-left: 97px;
    margin-top: 36px;
    display: flex;
    gap: 30px;
    color: white;
    font-size: 21px;
    overflow: hidden;
    
}

.wall img {
    width: 450px;
    height: 227px;
    margin-left: 80px;
}
.row .column img{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 10px;
    border-radius: 20px;
    flex-shrink: 0;
}
.row .column p {
    font-size: 19px;
    padding-left: 59px;
    font-weight: 700;
    padding-right: 59px;
    padding-bottom: 30px;
}
@media (min-width: 801px) and (max-width: 1345px) {
    .text-container {
        margin-left: 360px !important;
    }
    .text-container p{
        font-size: 15px !important;
    }
    .text-container h1 {
        font-size: 45px !important;
    }
  @media (width <=372px) {
    .text-container{
        font-size: 20px !important;
    }
    .text-container h1{
        font-size: 20px !important;
    }
  }